* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Futura Std Book';
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
    
     /*    for separation only*/
    /*    delete*/
    padding: 20px;
    /*    ********/
}

.avatar {
    border-radius: 50%;
    background-image: url(../img/Avatar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
