* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Futura Std Book';
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;

    /*    for separation only*/
    /*    delete*/
    padding: 20px;
    /*    ********/
}


/*select*/
.select {
    width: 290px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ECF2F7;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 17px;
    color: #081E2E;
    padding: 0 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../img/arrow_down_gray.png);
    background-position: 257px center;
    background-repeat: no-repeat;
    background-size: 18px;
    position: relative;
    cursor: pointer;
}

.select:active,
.select:focus {
    border: 1px solid #ECF2F7;
    outline: none;

}
