* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Futura Std Book';
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
    
     /*    for separation only*/
    /*    delete*/
    padding: 20px;
    /*    ********/
}

.CN_box {
    width: 94px;
    height: 94px;
    background: #53A5E0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_user {
    border-radius: 50%;
    background-color: white;
    font-size: 14px;
    line-height: 17px;
    color: #081E2E;
    font-family: 'Futura Std Book';
    padding: 12px 9px;
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
