* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Futura Std Book';
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;

    /*    for separation only*/
    /*    delete*/
    padding: 20px;
    /*    ********/
}


/*Sort collumn button*/

.table_item {
    font-size: 12px;
    line-height: 14px;
    color: #76828A;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.table_item .icon {
    margin: 0 0 0 2px;
}
